DOMAIN=vetpawtrol.com
ACME_EMAIL=catalinadanila6@gmail.com

POSTGRES_DB=idfm
POSTGRES_USER=idfm
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

JWT_SECRET=supersecrethackaton

FC_CLIENT_ID=
FC_CLIENT_SECRET=
FC_BASE_URL=https://fcp-low.sbx.dev-franceconnect.fr/api/v2
APP_REDIRECT_URL=application://auth

TRAEFIK_DASHBOARD_AUTH=admin:$$2y$$05$$CHANGE_ME_HASH

UMAMI_APP_SECRET=umami-secret

DIRECTUS_SECRET=CHANGE_ME_DIRECTUS_SECRET
DIRECTUS_ADMIN_EMAIL=admin@idfm.fr
DIRECTUS_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD